.character-select-6-icon-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.character-select-8-icon-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#character-select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; */
  flex-grow: 1;
}

.character-icon {
  min-width: 45px;
  width: 5vw;
}

.character-unavailable {
  opacity: 0.3;
}
