.character-select-6-icon-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.character-select-8-icon-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#character-select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 10px;
}

.character-icon {
  min-width: 40px;
  width: 7vw;
  max-width: 110px;
  border: 2px solid rgb(255, 236, 26);
}

.character-selectable {
  transition: all 100ms ease-in-out;
}

.character-selectable:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.character-unavailable {
  opacity: 0.3;
}
