.current-team-wrapper {
  background-color: #151515;
  width: 10%;
  box-shadow: 1px 1px 10px;
  padding-bottom: 10px;
  min-height: 100vh;
  position: absolute;
}

.current-team-wrapper p {
  color: white;
  font-family: Montserrat;
}

.selected-character-wrapper p {
  max-width: 50%;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.selected-character-portrait {
  width: clamp(60px, 10vw, 240px);
  height: auto;
}

.point-info {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-align: center;
  margin-bottom: 10px;
}

.point-info button {
  background-color: transparent;
  color: rgb(166, 0, 255);
  border: 1px solid rgb(166, 0, 255);
  font-family: Montserrat;
  transition: all 500ms ease-out;
}

.point-info button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.hovered-character-wrapper {
  opacity: 0.5;
}

.selected-character-wrapper {
  animation: reveal 1s forwards;
  animation-delay: 0.1s;
  clip-path: inset(100% 0 100% 0);
  visibility: hidden;
}

@keyframes reveal {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
    visibility: visible;
  }
}

.current-team-wrapper-small {
  display: flex;
  flex-flow: row wrap;
  background-color: #151515;
  gap: 20px;
  width: 100vw;
  margin-top: 10px;
}
.current-team-wrapper-small p {
  color: white;
  font-family: Montserrat;
  font-size: 0.8rem;
}
